body div#videobox {
  position: relative;
  width: 100%;
  height: 450px;
  border-left: 1px solid #dddddd;
  margin: 0 auto;
  background-color: #000;
}

body div#videobox a {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

body div#videobox video#video {
  width: 100%;
  height: 100%;
}

body div#videobox a.play_video {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all .3s ease;
}

body div#videobox:hover a.play_video {
  top: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 1;
}

:-webkit-full-screen {}

:-moz-full-screen {}

:-ms-fullscreen {}

:-o-fullscreen {}

:full-screen {}

:fullscreen {}

:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

:-moz-full-screen video {
  width: 100%;
  height: 100%;
}

video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}

.svg_icon {
  display: inline-block;
  vertical-align: -1px;
  pointer-events: none;
  fill: currentColor
}

.fullscreen_svg {
  width: 22px;
  height: 22px;
}