.right_conten>div:first-child>ul>li {
  float: left;
  margin-left: 20px;
}

.right_conten>div:nth-child(2) {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

.right_conten>div:nth-child(2)>div {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 50%;
}

.right_conten>div:last-child {
  position: relative;
}

.right_conten>div:last-child>ul {
  padding: 0;
}

.right_conten>div:last-child>ul>li:last-child>div {
  border-bottom: 0;
  margin-bottom: 40px;
}

.player_details {
  width: 100%;
  display: block;
  height: 300px;
  border-bottom: 1px solid #dddddd;
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

.player_details>div {
  padding: 0px 5px;
}

.player_details>div:first-child {
  width: 600px;
}

.player_details>div:first-child>img {
  width: 600px;
  height: 285px;
}

.player_details>div:last-child {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  padding-left: 20px;
}

.img-circle {
  width: 100px;
  height: 100px;
}

.head_portrait {
  float: left;
}

.player_info {
  padding: 15px 5px;
  margin-left: 15px;
  float: left;
}

.intro {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  height: 150px;
}

.intro>textarea {
  height: 150px;
  width: 100%;
}

.player_btn a {
  float: right;
  color: #525e71;
  width: 80px;
  height: 30px;
  display: block;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  margin-left: 5px;
}
