.right_conten>div:first-child>ul>li {
  float: left;
  margin-left: 20px;
}

.prov_top {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

.prov_top>div {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 50%;
}

.prov_top>div img {
  width: 100%;
  height: 450px;
}

.venues_province>ul>li {
  float: left;
  margin-left: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  margin: 5px;
}

.venues_province>ul>li>a {
  display: block;
  padding: 0 10px;
  color: #525e71;
  border: 1px solid #bbbbbb;
}

.venues_province>ul>li>a.active {
  background-color: #ff9800;
  color: #FFF;
}

caption {
  background-color: #ffc000;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  font-weight: bold;
  color: #000;
}
