html,
body {
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: #eff1f8;
}

section {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  height: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.left_conten {
  width: 200px;
}

.x-menus>ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.x-menus>ul>li {
  display: block;
  border: 1px solid #bbbbbb;
  width: 170px;
  height: 40px;
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

.x-menus>ul>li:first-child {
  margin-top: 0px;
}

.x-menus>ul>li>a {
  display: block;
  color: #525e71;
}

.x-menus>ul>li.active {
  color: #fff;
  background-color: #ff7043;
  border: 1px solid #f4511e;
}

.x-menus>ul>li.active>a {
  color: #fff;
}

.right_conten {
  padding: 10px 20px;
  height: 100%;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  /*border: 1px solid #dddddd;*/
}

.x_welcome {
  height: 50px;
}

.row_block {
  border: 1px solid #dddddd;
  border-bottom: 0;
}

.right_conten>div:last-child {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
}

.right_conten>div:last-child>div:last-child {
  z-index: 1;
}

.row_block>div {
  height: 450px;
}

.deal {
  padding: 30px 20px;
}

.deal_title {
  position: relative;
}

.deal_wrapper {
  width: 650px;
  height: 300px;
  overflow: hidden;
  border-radius: inherit;
  background-color: #e8e8e8;
  margin-top: 10px;
}

.deal_price {
  position: absolute;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  color: #fff;
  background-color: #fc1703;
  border: 1px solid #dd191d;
  border-radius: 8px;
  display: block;
  width: 110px;
  height: 80px;
  line-height: 70px;
}

.deal_price .text {
  white-space: pre;
  vertical-align: middle;
}

.deal_max {
  font-size: 16px;
  line-height: 23px;
  display: block;
  margin-top: 10px;
}

.league {
  padding: 10px 10px;
}

.league_title {
  font-size: 16px;
}

.league_wrapper {
  width: 650px;
  height: 350px;
  overflow: hidden;
  border-radius: inherit;
  background-color: #e8e8e8;
  margin-top: 10px;
}

.league_btn {
  position: relative;
  bottom: -30px;
  background-color: #ff7043;
  border: 1px solid #f4511e;
  border-radius: 8px;
  text-align: center;
  font-size: 14.0px;
  z-index: 2;
}

.league_btn > a {
  color: #fff;
  display: block;
  cursor: pointer;
}

.x-btn {
  margin: 10px;
  display: block;
  width: 110px;
  height: 30px;
  font-size: 14.0px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #888888;
  border: 1px solid #bbbbbb;
}

nav.x-page {
  position: absolute;
  bottom: 0;
  left: 20px;
}

nav.x-page>ul.pagination {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/*赛程样式*/
#calendar {
  max-width: 900px;
  margin: 0 auto;
}
#calendar .fc-body {
  overflow-y: hidden !important;
}
#calendar .fc-scroller.fc-day-grid-container {
 overflow-y: hidden !important;
}

#calendar .fc-day-grid.fc-unselectable {
  overflow-y: hidden !important;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: hsla(0, 0%, 100%, 0);
}

.fc-unthemed td.fc-head-container {
  border-bottom-color: #d81b60;
}

#calendar a.fc-day-number {
  color: #525e71;
}

#calendar span.fc-day-number {
  color: #525e71;
}

#calendar a.fc-more {
  color: #525e71;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  /*text-align: center;*/
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: initial;
}

.fc-event {
  background-color: #fc1703;
  border: 1px solid #dd191d;
}

.fc-day-grid>div:last-child {
  display: none;
}
